 <p> I am an amazing person forever <br> lalalallallalallalalallallalallallalallalallalallaa <br> forever </p>
 <img src="http://38.media.tumblr.com/1cdb6b850477158061fcfa271613bf3a/tumblr_n5aft0G8441s7jjavo1_500.jpg" alt="oh no where my gif"  align= "middle"> 