<p> Gabriela Voll </p>
      <p>425 East 25th Street New York, NY 10010</p>
      <p>Telephone: (239) 682-9851 Email: gvoll@hunter.cuny.edu </p>
      <p>______________________________________________________________________________</p>

      <p>EDUCATION </p>
<p>Macaulay Honors College, CUNY - Hunter College</p>
<p>Expected Graduation Date: June 2015</p>
<p>Major(s): Studio Art, Computer Science </p>
<p>GPA: 3.5</p>

<p>HONORS & AWARDS</p>
<p>University Scholar (four year merit scholarship to Macaulay Honors College)</p>
<p>Dean's List (Fall 2012 and Spring 2013)</p>

<p>RELEVANT COURSEWORK </p>
      <p> CSCI 335.00 Analysis and Design III</p>
      <p> CSCI 360.00 Computer Architecture III</p>
      <p> CSCI 493.66 Computer Law Honors Seminar</p>
      <p> CSCI 265.00 Computer Theory II</p>
      <p> CSCI 340.00 Computer Operating Systems </p>
      <p> CSCI 499.00 Computer Science Major Capstone </p>

<p>EXPERIENCE      </p>
<p>IT Assistant, Vertical Systems Analysis, 307 West 36th Street, New York, NY Summer 2011</p>
<p>•	Setup and Installation of basic software 15-25 computers  (PCs)</p>
<p>•	Setup of routers and modem, internet network </p>
<p>Computer Science Tutor, Hunter College, 695 Lexington Ave, New York, NY Spring-Summer 2014</p>
<p>•	Taught and reviewed concepts described and taught in CSCI 127;135;235;340</p>
<p>•	Taught students about debuggers and debugging (Xcode)</p>
<p>•	Taught students how to talk about and plan an object oriented program (C++)</p>

<p>LANGUAGES & SKILLS: </p>
 <p>     Fluent in Spanish </p>
 <p>     Excellent written and verbal communication skills</p>
<p>      Knowledge of Microsoft Office programs (Word, Excel, PowerPoint, etc.)</p>
<p>      Knowledge of Adobe Photoshop </p>
 <p>     Experience with both Mac, PCs and Linux </p>
 <p>     Expert knowledge of C++ (3 years) </p>
 <p>     Knowledge of PHP, MySQL, HTML (1 year) </p>
   <p>   Familiar with Processing (a java-based visually minded programming language) (1 year)</p>
    <p>  Familiar with a couple APIs (Eventbrite, Google Maps, Google Places)</p>
    <p>  Beginner Knowledge of Java, Python</p>
      <p>Trouble Shooting knowledge of assortment of computer equipment</p>
     <p> Excellent Problem-Solving Skills </p>
     <p> Confident and quick learner</p>
      <p>Extensive experience abroad </p>

<p>Some samples of my art in this link -> http://gah-toe.tumblr.com/tagged/originals </p>