
$primary_orange: #cc9d4b;

/*********************/
/*- New Styling -*/
/*{{{********************/
html, body {
  width: 100%;
  background-color: #000;
}

.top {
  width: 100%; 
  min-width: 900px;
  .logo {
    display: inline-block;
    width: 50%; 
    min-width: 500px; 
    img { width:100%;}
  }
  .navbar {
      display: inline-block;
      vertical-align: bottom;
      float: right;
      margin: -22px 17px 0px 0px;
    ul { 
      margin:55px 0px 0px -5px;
      padding-left: 0px;
      list-style-type: none; 
    }
    li {
      padding: 7px;
      border-radius: 4px;
      display: inline-block;  
      list-style-type: none; 
      a {
        color:$primary_orange;
        font-size: 18px;
        text-decoration: none;
      }
      a:hover {color:white;}
    }
    li.active {
      background-color: $primary_orange; 
      a {color:#000;}
    }

  }
}

.center  {
  width:100%; 
  margin: -4px 0px 0px -8px;
  border-top: 10px solid $primary_orange;
  background-color:#000 ;
  color:#eee;
}


table.index {
   img {width:100px;}
}