
/*********************/
/*- New Styling -*/
/*{{{********************/





/*********************/
/*- OLD Styling -*/
/*{{{********************/
.center  {
  background-color:#FFFFFF ;
  width: 76%;
  height: 1700px; 
   
  margin-left:22%;
  margin-top: 90px; 
  border: 2px black solid;

  ul { list-style-type: none; }
  li { float: left; }
  p { text-align: center; }

  #artphoto {
  height: 400px; 
  text-align: left;
  margin:10px;}
}

#originals {
  width: 2600px;
  height: 500px; 
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.top  {
  height:100px; 
  width:100%; 
  margin-top:-20px;
  margin-left:-10px;
  margin-right:-10px;
  position: fixed;
  background-color: #FFCC99;  

   a {
  color: #000000;  
  font-size: 50px;
  text-decoration:none;}
  p {
  text-align: center; 
  margin-top: 20px;}
}

.navbar {
  position: fixed; 
  height: 550px; 
  width: 180px;
  background-color: #000000;
  margin-top: 80px; 
  margin-left: -10px; 
  ul {
  margin-top: 50px;  
  list-style-type: none; }
  li  {
  margin-left: auto; 
  margin-right:auto; 
  margin-top: 40px;
  margin-bottom: 60px;
  list-style-type: none; 
  color:#FFCCCC;
  font-size: 20px; }
  a {
  text-decoration: none;
  color:#FFCCCC; } 
  a:hover { color: #FFFFFF; }
  a:visited { color: #E6B8B8; }
}


div { font-family: cursive; }